<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
        <h1>
          Welcome to {{ title }}!
        </h1>
       
      <h2>Here are some movies to rate: </h2>
      <ul  class="d-flex bd-highlight d-flex flex-wrap">
        <li class="list-inline-item">
          <img src="../assets/snowden.jpg" alt="Snowden" class="img-fluid img-thumbnail">
          <h4>Snowden</h4>
        </li>
        <li class="list-inline-item">
          <img src="../assets/social-network.jpg" alt="Social-Network"  class="img-fluid img-thumbnail">
          <h4>Social Network</h4>
        </li>
        <li class="list-inline-item">
          <img src="../assets/imitation-game.jpg" alt="Imitation Game" class="img-fluid img-thumbnail">
          <h4>Imitation Game</h4>
        </li>
        <li class="list-inline-item">
          <img src="../assets/beautiful-mind.jpg" alt="A Beautiful Mind" class="img-fluid img-thumbnail">
          <h4>A Beautiful Mind</h4>
        </li>
        <li class="list-inline-item">
          <img src="../assets/ddlj.jpg" alt="DDLJ" class="img-fluid img-thumbnail">
          <h4>DDLJ</h4>
        </li>
        <li class="list-inline-item">
          <img src="../assets/robot.jpg" alt="Robot" class="img-fluid img-thumbnail">
          <h4>Robot</h4>
        </li>
        <li class="list-inline-item">
          <img src="../assets/imitation-game.jpg" alt="Imitation Game" class="img-fluid img-thumbnail">
          <h4>Imitation Game</h4>
        </li>
        <li class="list-inline-item">
          <img src="../assets/imitation-game.jpg" alt="Imitation Game" class="img-fluid img-thumbnail">
          <h4>Imitation Game</h4>
        </li>
        <li class="list-inline-item">
          <img src="../assets/imitation-game.jpg" alt="Imitation Game" class="img-fluid img-thumbnail">
          <h4>Imitation Game</h4>
        </li>
        <li class="list-inline-item">
          <img src="../assets/imitation-game.jpg" alt="Imitation Game" class="img-fluid img-thumbnail">
          <h4>Imitation Game</h4>
        </li>
        <li class="list-inline-item">
          <img src="../assets/imitation-game.jpg" alt="Imitation Game" class="img-fluid img-thumbnail">
          <h4>Imitation Game</h4>
        </li>
        <li class="list-inline-item">
          <img src="../assets/imitation-game.jpg" alt="Imitation Game" class="img-fluid img-thumbnail">
          <h4>Imitation Game</h4>
        </li>
        <li class="list-inline-item">
          <img src="../assets/imitation-game.jpg" alt="Imitation Game" class="img-fluid img-thumbnail">
          <h4>Imitation Game</h4>
        </li>
        <li class="list-inline-item">
          <img src="../assets/imitation-game.jpg" alt="Imitation Game" class="img-fluid img-thumbnail">
          <h4>Imitation Game</h4>
        </li>
        <li class="list-inline-item">
          <img src="../assets/imitation-game.jpg" alt="Imitation Game" class="img-fluid img-thumbnail">
          <h4>Imitation Game</h4>
        </li>
        
      </ul>
      
      <router-outlet></router-outlet>
      
      
    